<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Interop.SolidEdge" version="106.8.1" targetFramework="net40" />
  <package id="SharpGLCore" version="2.3.0.1" targetFramework="net40" />
  <package id="SolidEdge.Community" version="106.0.0" targetFramework="net40" />
  <package id="SolidEdge.Community.AddIn.Tools" version="106.0.0" targetFramework="net40" />
</packages>